# --- Postgres ---
POSTGRES_USER=dfp_user
POSTGRES_PASSWORD=dfp_password
POSTGRES_DB=dfp_db

# --- Kafka KRaft single node ---
KAFKA_KRAFT_MODE=true
KAFKA_PROCESS_ROLES=broker,controller
KAFKA_NODE_ID=1
KAFKA_BROKER_ID=1

# separate client+controller ports
KAFKA_LISTENERS=PLAINTEXT://0.0.0.0:9092,CONTROLLER://0.0.0.0:9093
KAFKA_ADVERTISED_LISTENERS=PLAINTEXT://kafka:9092
KAFKA_LISTENER_SECURITY_PROTOCOL_MAP=PLAINTEXT:PLAINTEXT,CONTROLLER:PLAINTEXT
KAFKA_CONTROLLER_LISTENER_NAMES=CONTROLLER
KAFKA_CONTROLLER_QUORUM_VOTERS=1@kafka:9093
KAFKA_INTER_BROKER_LISTENER_NAME=PLAINTEXT

# Single-node replication settings
KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR=1
KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR=1
KAFKA_TRANSACTION_STATE_LOG_MIN_ISR=1

# Cluster ID 
KAFKA_CLUSTER_ID=EmptNWtoR4GGWx-BH6nGLQ